# R session files
.RData
.Rhistory
.Ruserdata

# RStudio project files
.Rproj.user
*.Rproj

# macOS
.DS_Store

# pkgdown site (optional if you build docs in-repo)
docs/

# Build artefacts
*.tar.gz
*.Rcheck/

# Vignettes & documentation build artefacts
inst/doc/
doc/
Meta/
