# R Data files
.RData
.Ruserdata

# RStudio project files
.Rproj.user
DamageDetective.Rproj

# macOS system files
.DS_Store

# R history
.Rhistory

# Documentation directories
inst/doc/
docs/

# Metadata
Meta/

# Ignore the 'doc' directory
doc/
